#product-list-page {
  .product {
    @extend .col-xs-6;

    padding: 1%;
  }

  img {
    max-width: 100%;
  }

  h2 {
    font-size: 30px;
    margin: 5px 0;
  }

  h3 {
    font-size: 18px;
    margin: 5px 0;
  }

}

#product-page {

  img {
    max-width: 100%;
  }

  .preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  @media screen and (max-width: 996px) {
    .preview {
      margin-bottom: 20px;
    }
  }

  .preview-pic {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
  }

  .preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 15px;

    li {
      width: 17.5%;
      margin: 0 1.25% 2.5%;

      img {
        max-width: 100%;
        display: block;
      }
      a {
        padding: 0;
        margin: 0;
      }
    }

  }
  .tab-content {
    overflow: hidden;
  }
  .tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
    animation-name: opacity;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
  }

  .card {
    background: #eee;
    padding: 3em;
    line-height: 1.5em;
  }

  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
  }

  @media screen and (min-width: 997px) {
    .wrapper {
      flex-direction: row-reverse;
      -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
    }
  }

  .details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .product-title {
    font-weight: bold;
    margin: 0;
  }

  .product-brand {
    margin: 0;
  }

  .product-description {
    margin-top: 1.5em;
  }

  @-webkit-keyframes opacity {
    0% {
      opacity: 0;
      -webkit-transform: scale(3);
      transform: scale(3);
    }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }

  @keyframes opacity {
    0% {
      opacity: 0;
      -webkit-transform: scale(3);
      transform: scale(3);
    }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
}